 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Alejandro Cremades</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Aprendiendo japonés desde 1996, desarrollando sitios web profesionalmente desde 1997, y escribiendo en revistas desde 2000. JLPT N1, traductor, y autor publicado en Japón. Nacido en Alicante (España) en 1980, y ubicado en Japón desde 2005.</p>
                </div>
                <div class="col-lg-4">
                    <p>Aficionado los videojuegos antiguos, especialmente Game Boy, a cualquier tipo de juego de cartas, especialmente Magic: The Gathering, al <i>manga</i>, y a la música. Músico de Game Boy con conciertos en tres continentes. Interesado en Ethereum y otras plataformas de criptomoneda.</p>
                </div>
                <!-- <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div> -->
            </div>
        </div>
    </section>